{% extends 'base.html' %}
{% block title %}{{ pagina }}{% endblock %}
{% block bread %}
     <a href="/{{link_anterior}}"> > {{ anterior }}</a> > {{ pagina }}
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="alert bg-rgba-success alert-dismissible mb-2" role="alert">
              {% else %}
              <div class="alert bg-rgba-danger alert-dismissible mb-2" role="alert">
            {% endif %}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <div class="d-flex align-items-center">
                {% if message.tags == 'success' %}
                  <i class="fa fa-check"></i>
                  {% else %}
                  <i class="fa fa-times-circle"></i>
                {% endif %}
                <span>
                  {{message}}
                </span>
              </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if id is None %}
    <form method="POST" action="/{{page_form}}/new" class="form-body p-2 row" enctype="multipart/form-data">
    {% else %}
    <form method="POST" action="/{{page_form}}/{{ id }}" class="form-body p-2 row" enctype="multipart/form-data">
    {% endif %}
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            {% csrf_token %}
            {% for f in form %}
                <div class="form-group">
                    <label class=" form-control-label">{{ f.label }}</label>
                    {{ f }}
                </div>
            {% endfor %}
            <a href="/{{link_anterior}}" class="btn btn-secondary">Voltar</a>
            <button type="submit" class="save btn btn-primary">Salvar</button>
        </div>
    </form>
{% endblock %}